.generate-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 75px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.prompt-input {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    resize: none;
}

.generate-button {
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-button:hover {
    background-color: #2980b9;
}

.loading-message {
    margin: 10px 0;
    color: #7f8c8d;
}

.error-message {
    margin: 10px 0;
    color: #e74c3c;
}

.image-container {
    margin-top: 20px;
}

.generated-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.add-to-cart-button {
    background-color: #27ae60; /* Green background for add to cart button */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Space between image and button */
}

.add-to-cart-button:hover {
    background-color: #219653; /* Darker green on hover */
}
